
CREATE TABLE dbo.Staged_Sales
(
[Order QTY] float NULL
, [Product Name] varchar(255) null
, [Unit Price] money null
, [Unit Price Discount] money null
, [Line Total] money null
, [Customer] varchar(255) null
, [Billing and Shipping Address] varchar(255) null
, [Currency] varchar(255) null
, [FX Rate] money null
, [Sales Person] varchar(255) null
, [Sales Territory] varchar(255) null
);